# maven
target/

# eclipse ignore
.settings/
.project
.classpath
bin/

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.swp
*.swo

# system ignore
.DS_Store
Thumbs.db

# C/C++
*.o
.dailycheck
